<!doctype html>
<html lang="en">

<head>
	<title>World Free System</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
</head>


<script id="profile" type="text/x-jsrender">
	<div class="vertical-align-wrap">
		<div class="vertical-align-middle">
			<div class="auth-box ">
					<div class="content">
						<div class="header">
							<h3 class="text-center">Мой профиль</h3>
							<p class="lead">
								Номер телефона: {{:~getUser().phone}}<br>
								<a href="/users/getethkey" data-action="getprivatekey">Получить приватный ключ</a>
							</p>
						</div>

						<form class="form-auth-small form" action="/users" data-action="updateProfile">
							<div class="alert alert-danger alert-dismissible d-none" role="alert"></div>
							<div class="alert alert-success alert-dismissible d-none" role="alert">Успешно!</div>							
							<div class="form-group">
								<label for="name" class="control-label">Имя</label>
								<input type="text" class="form-control" name="name" value="{{:~getUser().name}}" placeholder="Имя">
							</div>
							<div class="form-group">
								<label for="name" class="control-label">Картра для вывода средств</label>
								<input type="text" class="form-control" name="card" value="{{:~getUser().card}}" data-validate="card" placeholder="Номер карты">
							</div>
							<button type="submit" class="btn btn-primary btn-lg btn-block">Сохранить</button>
							<div class="bottom">
								<span class="helper-text"> <a href="#" data-action="dashboard">Вернуться</a></span>
							</div>
						</form>

					</div>


				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</script>

<script id="login" type="text/x-jsrender">
	<div class="vertical-align-wrap">
		<div class="vertical-align-middle">
			<div class="auth-box ">
					<div class="content">
						<div class="header">
							<div class="logo text-center"><img src="assets/img/logo.png" alt="World Free System"></div>
							<p class="lead">Войти в свой аккаунт</p>
						</div>

						<form class="form-auth-small form" action="/users/login" data-form="true">
							<div class="alert alert-danger alert-dismissible d-none" role="alert"></div>							
							<div class="input-group">
								<span class="input-group-addon">+7</span>
								<input type="phone" class="form-control" name="phone" value="" placeholder="Телефон">
							</div><br>
							<div class="form-group">
								<label for="signin-password" class="control-label sr-only">Пароль</label>
								<input type="password" class="form-control" id="signin-password" name="password" value="" placeholder="Пароль">
							</div>

							<button type="submit" class="btn btn-primary btn-lg btn-block">Войти</button>
							<div class="bottom">
								<span class="helper-text"><i class="fa fa-lock"></i> <a href="#" data-action="register">Регистрация</a></span>
							</div>
						</form>

					</div>


				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</script>
<script id="register" type="text/x-jsrender">
	<div class="vertical-align-wrap">
		<div class="vertical-align-middle">
			<div class="auth-box ">
					<div class="content">
						<div class="header">
							<div class="logo text-center"><img src="assets/img/logo.png" alt="World Free System"></div>
							<p class="lead">Регистрация</p>
						</div>
						<form class="form-auth-small" action="/users"  data-form="true">
							<input type="hidden" name="discount" value="{{:~getDiscount()}}">
							<div class="alert alert-danger alert-dismissible d-none" role="alert"></div>
							<div class="form-group">
								<label for="name" class="control-label sr-only">Имя</label>
								<input type="text" class="form-control" name="name" value="" placeholder="Имя">
							</div>
							<div class="input-group">
								<span class="input-group-addon">+7</span>
								<input type="phone" class="form-control" name="phone" value="" placeholder="Телефон">
							</div>
							<br>
							<p class="text-center">Пароль придет Вам на телефон</p>
							<button type="submit" class="btn btn-primary btn-lg btn-block">
								<i class="fa fa-spinner fa-spin d-none"></i>
								Отправить
							</button>
							<div class="bottom">
								<span class="helper-text"><i class="fa fa-lock"></i> <a href="#" data-action="login">Войти</a></span>
							</div>
						</form>
					</div>


				<div class="clearfix"></div>
			</div>
		</div>
	</div>	
</script>
<script id="sendCoin" type="text/x-jsrender">
	<!-- RECENT PURCHASES -->
	<div>
			<form action="/transactions/transfer" data-form="true">

				<div class="panel-body">
						<div class="alert alert-success alert-dismissible d-none" role="alert">
								<i class="fa fa-check-circle"></i> Монеты отправлены!
						</div>
						<div class="alert alert-danger alert-dismissible d-none" role="alert"></div>
						<div class="input-group">
							<span class="input-group-addon">WFS</span>
							<input class="form-control" type="text" name="amount">
							<span class="input-group-addon">.00</span>
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon">+7</span>
							<input class="form-control" placeholder="Номер телефона" type="phone" name="phone">
						</div>
					
					
				</div>
				<div class="panel-footer">
					<div class="row">
						<div class="col-md-6"><span class="panel-note"></span></div>
						<div class="col-md-6 text-right">
								<button type="submit" class="btn btn-primary ">
										<i class="fa fa-spinner fa-spin d-none"></i>
										Отправить
									</button>
							
						</div>
					</div>
				</div>
			</form>
		</div>
	<!-- END RECENT PURCHASES -->
</script>

<script id="buyCoin" type="text/x-jsrender">
	<div id="buyCoin">
		<div class="panel-body" >
			
			<div class="input-group">
				<span class="input-group-addon">WFS</span>
				<input class="form-control" type="text" name="tokensAmount">
				<span class="input-group-addon">.00</span>
			</div>
			<br>
			<div class="input-group">
				<span class="input-group-addon">В рублях</span>
				<input class="form-control" type="text" name="amountRuble">
				<span class="input-group-addon">.00</span>
			</div>	

		</div>
		<div class="panel-footer">
			<div class="row">
				<div class="col-md-6"><span class=" text-success">Цена одной монеты: {{:~getUser().tokenPrice}} руб</span></div>
				<div class="col-md-6 text-right">
					<button type="submit" class="btn btn-success ">
						<i class="fa fa-spinner fa-spin d-none"></i>
						Купить
					</button>
				</div>
			</div>
		</div>
	</div>
</script>

<script id="transactionItems" type="text/x-jsrender">
	
{{for ~getUser().transactions }}
<tr>
	{{if ~isMobile()}}
	<td> 
		{{if ~isMe( accountTo )}}
			++ Поступление от {{:accountFrom}}<br>
		{{else}}
			-- Отправлено на {{:accountTo}}<br>
		{{/if}}	
		{{:amount}} WFS<br>	
		{{:~formatDate(updatedAt)}} <br>	
	</td>
	{{else}}
	<td>
		{{if ~isMe( accountTo )}}
			++ Поступление от {{:accountFrom}}
		{{else}}
			-- Отправлено на {{:accountTo}}
		{{/if}}
	</td>
	<td>{{:amount}} WFS</td>
	<td>{{:~formatDate(updatedAt)}}</td>
	{{/if}}
	<td>
		{{if status == 'complite'}}
			<span class="label label-success">Выполнено</span>
		{{else status == 'process' }}
			<span class="label label-primary">В процессе</span>
		{{else status == 'new'}}
			<span class="label label-info">Новая</span>
		{{else status == 'reject'}}
			<span class="label label-danger">Отклонено</span>
		{{/if}}
	</td>

</tr>
{{/for}}

</script>
<script id="transactionList" type="text/x-jsrender">

{{if ~getUser().transactions.length }}	
<table class="table table-striped">
	<thead>
		<tr>
			{{if ~isMobile()}}
			<th>Кому</th>
			<th>Статус</th>
			{{else}}
			<th>Кому</th>
			<th>Сколько</th>
			<th>Дата &amp; Время</th>
			<th>Статус</th>
			{{/if}}
		</tr>
	</thead>
	<tbody>
		{{include tmpl="#transactionItems"/}}
	</tbody>
</table>
{{else}}
	<p style="margin-left:20px">Вы пока еще не совершили ни одной транзакции</p>
{{/if}}

</script>

<script id="paymentItem" type="text/x-jsrender">

{{for ~getUser().payments}}
	<tr>
		{{if ~isMobile()}}
		<td>
				Тел.: {{:userPhone}}<br>
				Купил монет: {{:~convertBalance(coins) }} WFS<br>
				В рублях: {{:~convertBalance(payment.amount.value) }} руб <br>
				Дата: {{:~formatDate(updatedAt)}}
		</td>
		{{else}}
		<td>{{:userPhone}}</td>
		<td>{{:~convertBalance(coins) }} WFS</td>
		<td>{{:~convertBalance(payment.amount.value) }} руб</td>
		<td>{{:~formatDate(updatedAt)}}</td>
		{{/if}}
		<td>
			{{if status == 'complite'}}
				<span class="label label-success">Выполнено</span>
			{{else status == 'process' }}
				<span class="label label-primary">В процессе</span>
			{{else status == 'reject'}}
				<span class="label label-danger">Отклонено</span>
			{{/if}}
		</td>
	</tr>
{{/for}}

</script>
<script id="paymentList" type="text/x-jsrender">
	{{if ~getUser().payments.length }}	
	<table class="table table-striped">
		<thead>
			<tr>
				{{if ~isMobile()}}
				<th>Информация</th>
				{{else}}
				<th>Кто</th>
				<th>Купил монет</th>
				<th>в рублях </th>
				<th>Дата</th>
				{{/if}}
				<th>Статус</th>
			</tr>
		</thead>
		<tbody>
				{{include tmpl="#paymentItem"/}}
		</tbody>
	</table>
	{{else}}
	<p style="margin-left:20px">Вы не совершили ни одной покупки</p>
	{{/if}}
</script>
<script id="userListItem" type="text/x-jsrender">
	{{for ~getUser().listUsers}}
		<tr class="user-{{:_id}}">
			{{if ~isMobile()}}
			<td>{{:name}} / {{:phone}}<br>{{:~convertBalance(balance) }} WFS</td>
			{{else}}
			<td>{{:name}} / {{:phone}}</td>
			<td>{{:~convertBalance(balance) }} WFS</td>
			{{/if}}
			<td>
				<a href="#" class="text-warning" data-lockuser="{{:_id}}">
					{{if lock}}
					Разблокировать
					{{else}}
					Заблокировать
					{{/if}}
				</a><br>				
				<a href="#" class="text-danger" data-rmuser="{{:_id}}">Удалить</a>
			</td>
		</tr>
	{{/for}}
</script>
<script id="userList" type="text/x-jsrender">

			<div class="panel-body no-padding userListItem">
				<div class="input-group">
					<form data-action="userSearch"  style="display: contents;">
					<input class="form-control" type="text" placeholder="Введите номер пользователя" >
					<span class="input-group-btn"><button class="btn btn-primary" type="submit">Найти</button></span>
					</form>
				</div>	
				<table class="table table-striped">
					<thead>
						<tr>
							{{if ~isMobile()}}
							<th>Кто</th>
							{{else}}
							<th>Кто</th>
							<th>Баланс</th>
							{{/if}}
							<th>Действие</th>
						</tr>
					</thead>
					<tbody>
							{{include tmpl="#userListItem"/}}
					</tbody>
				</table>
			</div>

</script>

<script id="addUser" type="text/x-jsrender">
	<form class="form-auth-small" action="/users"  data-adduserdashboard="true">
		<div class="alert alert-danger alert-dismissible d-none" role="alert"></div>
		<div class="alert alert-success alert-dismissible d-none" role="alert">Успешно добавлен!</div>
		<div class="form-group">
			<label for="name" class="control-label sr-only">Имя</label>
			<input type="text" class="form-control" name="name" value="" placeholder="Имя">
			<br>
			<p>Роль:</p>
			<label class="fancy-radio">
				<input name="role" value="user" type="radio" checked="checked">
				<span><i></i>Пользователь</span>
			</label>
			<label class="fancy-radio">
				<input name="role" value="admin" type="radio">
				<span><i></i>Админ</span>
			</label>
			<p>Скидка на покупку монет:</p>			
			<label class="fancy-radio">
				<input name="discount" value="default" type="radio" checked="checked">
				<span><i></i>3%</span>
			</label>
			<label class="fancy-radio">
				<input name="discount" value="gold" type="radio">
				<span><i></i>7%</span>
			</label>
			<label class="fancy-radio">
				<input name="discount" value="platinum" type="radio">
				<span><i></i>10%</span>
			</label>							
		</div>
		<div class="input-group">
			<span class="input-group-addon">+7</span>
			<input type="phone" class="form-control" name="phone" value="" placeholder="Телефон">
		</div>
		<br>
		<p class="text-center">Пароль придет на телефон</p>
		<button type="submit" class="btn btn-primary btn-lg btn-block">
			<i class="fa fa-spinner fa-spin d-none"></i>
			Отправить
		</button>

	</form>	
</script>

<script id="dashboard" type="text/x-jsrender">
	<!-- NAVBAR -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="brand">
			<a href="index.html"><img src="assets/img/wfs-min.png" alt="World Free System" class="img-responsive logo"></a>
			
		</div>

		<div class="balance" >
			<span class="text-primary">Баланс: <span class="text-success">{{:~getUser().balance}} WFS</span></span>
		</div>

		<div class="container-fluid">

			<div id="navbar-menu">
				<ul class="nav navbar-nav navbar-right">
					<li >
						<span class="text-primary">Привет <a href="#" data-action="profile">{{:~getUser().name}}</a>!</span>
					</li>
					<li><a href="#" data-action="logout" > <span>Выйти </span></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- END NAVBAR -->

	<!-- MAIN -->
	<div class="main">
		<!-- MAIN CONTENT -->
		<div class="main-content">
			<div class="container-fluid">
				<!-- OVERVIEW -->
				<div class="row">

					<div class="col-md-12">
						<div class="panel">
							<div class="custom-tabs-line tabs-line-bottom left-aligned">
								<ul class="nav" role="tablist">
									<li class="active"><a href="#tab-bottom-left1" role="tab" data-toggle="tab">Отправить моенты</a></li>
									{{if ~getUser().role != 'masterContract'}}
									<li><a href="#tab-bottom-left2" role="tab" data-toggle="tab">Купить монеты</a></li>
									{{/if}}
								</ul>
							</div>
							<div class="tab-content">
								<div class="tab-pane fade in active" id="tab-bottom-left1">
									{{include tmpl="#sendCoin"/}}
								</div>
								{{if ~getUser().role != 'masterContract'}}
								<div class="tab-pane fade" id="tab-bottom-left2">
									{{include tmpl="#buyCoin"/}}
								</div>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
				<!-- END OVERVIEW -->
				<div class="row">
					<div class="col-md-12">
						<!-- RECENT PURCHASES -->
						<div class="panel">

							<div class="custom-tabs-line tabs-line-bottom left-aligned">
								<ul class="nav" role="tablist">
									<li class="active"><a href="#tab-transaction-left1" role="tab" data-toggle="tab">Транзакции монет</a></li>									
									<li><a href="#tab-transaction-left2" role="tab" data-toggle="tab">Оплаты</a></li>

								</ul>
							</div>
							<div class="tab-content">
								<div class="tab-pane fade in active" id="tab-transaction-left1">
									{{include tmpl="#transactionList"/}}
								</div>
								<div class="tab-pane fade" id="tab-transaction-left2">
									{{include tmpl="#paymentList"/}}
								</div>
							</div>
						</div>
						<!-- END RECENT PURCHASES -->
					</div>
				</div>
				{{if ~getUser().role == 'masterContract'}}
				<div class="row" id="userList">
						<div class="col-md-12">
							<!-- RECENT PURCHASES -->
							<div class="panel">
	
								<div class="custom-tabs-line tabs-line-bottom left-aligned">
									<ul class="nav" role="tablist">
										<li class="active"><a href="#tab-users-left1" role="tab" data-toggle="tab">Пользователи</a></li>									
										<li><a href="#tab-users-left2" role="tab" data-toggle="tab">Добавить пользователя</a></li>
									</ul>
								</div>
								<div class="tab-content">
									<div class="tab-pane fade in active" id="tab-users-left1">
										{{include tmpl="#userList"/}}
									</div>
									<div class="tab-pane fade" id="tab-users-left2">
										{{include tmpl="#addUser"/}}
									</div>
								</div>
							</div>
							<!-- END RECENT PURCHASES -->
						</div>
				</div>
				{{/if}}

			</div>
		</div>
		<!-- END MAIN CONTENT -->
	</div>

</script>

<body class="ajaxloader">

	<!-- WRAPPER -->
	<div id="wrapper">
    </div>
    <div class="clearfix"></div>
    <footer>
        <div class="container-fluid">
            
        </div>
	</footer>
	<!-- Javascript -->
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.4/jsrender.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/scripts/jquery.creditCardValidator.js"></script>
	<script src="assets/scripts/klorofil-common.js"></script>
	<script src="config.js"></script>
	<script src="assets/scripts/functions.js"></script>
	<script src="assets/scripts/init.js"></script>
	<script src="assets/scripts/app.js"></script>
</body>