<div id="buyCoin" class="d-none">
    <form action="/transactions/buyTokens" data-form="true">
        <p class="text-success">Текущий курс: 1 WFS = {{:~getUser().tokenPrice}} руб.</p>
        <div class="alert alert-success alert-dismissible d-none" role="alert">
                <i class="fa fa-check-circle"></i> Монеты отправлены!
        </div>
        <div class="alert alert-danger alert-dismissible d-none" role="alert"></div>
        <div class="input-group">
            <span class="input-group-addon">WFS</span>
            <input class="form-control" type="text" name="tokensAmount">
            <span class="input-group-addon">.00</span>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">руб</span>
            <input class="form-control" type="text" name="amountRuble">
            <span class="input-group-addon">.00</span>
        </div>
        <br>
        <button type="submit" class="btn btn-success ">
                <i class="fa fa-spinner fa-spin d-none"></i>
                Купить
        </button><br>             
    </form>
</div>