<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <!-- OVERVIEW -->
            <div class="row">
                {{include tmpl='#profileBlock'/}}
            </div>
            <!-- END OVERVIEW -->

            {{if ~getUser().role != 'user'}}
            <div class="row" id="userList">
                    <div class="col-md-12">
                        <!-- RECENT PURCHASES -->
                        <div class="panel">

                            <div class="custom-tabs-line tabs-line-bottom left-aligned">
                                <ul class="nav" role="tablist">
                                    <li class="active"><a href="#tab-users-left1" role="tab" data-toggle="tab">Пользователи</a></li>									
                                    <li><a href="#tab-users-left2" role="tab" data-toggle="tab">Добавить пользователя</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane tab-pane-tables fade in active" id="tab-users-left1">
                                    {{include tmpl="#userList"/}}
                                </div>
                                <div class="tab-pane fade" id="tab-users-left2">
                                    {{include tmpl="#addUser"/}}
                                </div>
                            </div>
                        </div>
                        <!-- END RECENT PURCHASES -->
                    </div>
            </div>
            {{/if}}

        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
{{:~activeTabs()}}