<div class="vertical-align-wrap">
    <div class="vertical-align-middle">
        <div class="auth-box ">
                <div class="content">
                    <div class="header">
                        <div class="logo text-center"><img src="assets/img/logo.png" alt="World Free System"></div>
                        <p class="lead">Войти в свой аккаунт</p>
                    </div>

                    <form class="form-auth-small form" action="/users/login" data-form="true">
                        <div class="alert alert-danger alert-dismissible d-none" role="alert"></div>							
                        <div class="input-group">
                            <span class="input-group-addon">+7</span>
                            <input type="phone" class="form-control" name="phone" value="" data-mask="phone" placeholder="(___) ___ __ __">
                        </div><br>
                        <div class="form-group">
                            <label for="signin-password" class="control-label sr-only">Пароль</label>
                            <input type="password" class="form-control" id="signin-password" name="password" value="" placeholder="Пароль">
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg btn-block">Войти</button>
                        <div class="bottom">
                            <span class="helper-text"><i class="fa fa-lock"></i> <a href="#" data-action="register">Регистрация</a></span>
                        </div>
                    </form>

                </div>


            <div class="clearfix"></div>
        </div>
    </div>
</div>