
{{for ~getUser().payments}}
<tr>
    {{if ~isMobile()}}
    <td>
            {{if ~getUser().role != 'user' }}	
            Тел.: {{:userPhone}}<br>
            {{/if}}
            {{:~convertBalance(amount) }} руб <br>
            Тип: {{if type == 'card'}}Картой{{else}}Наличными{{/if}}<br>
            Дата: {{:~formatDate(updatedAt)}}

    </td>
    {{else}}
    {{if ~getUser().role != 'user' }}
    <td>{{:userPhone}}</td>
    {{/if}}
    <td>{{:~convertBalance(amount) }} руб</td>
    <td>{{if type == 'card'}}Картой{{else}}Наличными{{/if}}</td>
    <td>{{:~formatDate(updatedAt)}}</td>
    {{/if}}
    <td>
        {{if ~getUser().role == 'user' }}
            {{if status == 'complite'}}
                <span class="label label-success">Выполнено</span>
            {{else status == 'process' }}
                <span class="label label-primary">В процессе</span><br>
                {{if type == 'card'}}
                <a href="{{:payment.confirmation.confirmation_url}}" target="_blank">Оплатить</a>
                {{/if}}

            {{else status == 'reject'}}
                <span class="label label-danger">Отклонено</span>
            {{/if}}
        {{else}}
            {{if type == 'card' || status == 'complite' }}
                {{if status == 'complite'}}
                    <span class="label label-success">Выполнено</span>
                {{else status == 'process' }}
                    <span class="label label-primary">В процессе</span>
                {{else status == 'reject'}}
                    <span class="label label-danger">Отклонено</span>
                {{/if}}
            {{else}}
                <select class="form-control input-sm" data-paymentStatus="{{:_id}}">
                    <option value="process" {{if status == 'process'}} selected{{/if}}>В процессе</option>
                    <option value="reject" {{if status == 'reject'}} selected{{/if}}>Отклонено</option>
                    <option value="complite" {{if status == 'complite'}} selected{{/if}}>Выполнено</option>
                </select>
            {{/if}}

        {{/if}}
    </td>
</tr>
{{/for}}
