<div id="sendCoin"{{if ~getUser().role == 'user'}} class="d-none"{{/if}}>
    <form action="/transactions/transfer" data-form="true">
        <div class="alert alert-success alert-dismissible d-none" role="alert">
                <i class="fa fa-check-circle"></i> Монеты отправлены!
        </div>
        <div class="alert alert-danger alert-dismissible d-none" role="alert"></div>
        <div class="input-group">
            <span class="input-group-addon">WFS</span>
            <input class="form-control" type="text" name="amount">
            <span class="input-group-addon">.00</span>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">+7</span>
            <input class="form-control" placeholder="Номер телефона" type="phone" name="phone">
        </div><br>  
        <button type="submit" class="btn btn-primary ">
                <i class="fa fa-spinner fa-spin d-none"></i>
                Отправить
        </button><br>             
    </form>
</div>