{{for ~getUser().listUsers itemVar='~user'}}
<tr class="user-{{:_id}}">
    {{if ~isMobile()}}
    <td>{{:name}} / {{:phone}}<br>{{:~convertBalance(balance) }} WFS</td>
    {{else}}
    <td>{{:name}} / {{:phone}}</td>
    <td>{{:~convertBalance(balance) }} WFS {{if role == 'user'}}<br> {{:~convertBalance(RURbalance) }} руб {{/if}} <br></td>
    {{/if}}
    <td>   
        {{if role == 'user'}}     
        <select class="form-control input-sm" data-refPercent="{{:_id}}">
            {{for ~getUser().percentData  }}
            <option value="{{:value}}"  {{if value == ~user.refPercent }}selected{{/if}}>{{:name}}%</option>
            {{/for}}
        </select>
        <select class="form-control input-sm" data-friendsCount="{{:_id}}">
            <option {{if ~user.friendsCount == 10}} selected {{/if}} value="10">10</option>
            <option {{if ~user.friendsCount == 20}} selected {{/if}} value="20">20</option>
            <option {{if ~user.friendsCount == 30}} selected {{/if}} value="30">30</option>
            <option {{if ~user.friendsCount == 40}} selected {{/if}} value="40">40</option>
            <option {{if ~user.friendsCount == 50}} selected {{/if}} value="50">50</option>
        </select>

      
        {{/if}}
        <a href="#" class="text-warning" data-lockuser="{{:_id}}">
            {{if lock}}
            Разблокировать
            {{else}}
            Заблокировать
            {{/if}}
        </a><br>				
        <a href="#" class="text-danger" data-rmuser="{{:_id}}">Удалить</a>
    </td>
</tr>
{{/for}}